.numbers_frontend_components_select_numbers_base_group {
	position: relative;
}
.numbers_frontend_components_select_numbers_base_wrapper {
	display: inline-block;
	position: relative;
}
.numbers_frontend_components_select_numbers_base_toggle_on, .numbers_frontend_components_select_numbers_base_toggle_off, .numbers_frontend_components_select_numbers_base_toggle_middle {
	height: 100%;
	display: inline-block;
	padding: 6px 18px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	cursor: hand;
}
.numbers_frontend_components_select_numbers_base_toggle_on, .numbers_frontend_components_select_numbers_base_toggle_off {
	min-width: 50px;
}
.numbers_frontend_components_select_numbers_base_toggle_on {
	color: #ffffff;
	background-color: #428bca;
	border-color: #357ebd;
}
.numbers_frontend_components_select_numbers_base_toggle_on:hover, .numbers_frontend_components_select_numbers_base_toggle_on:focus, .numbers_frontend_components_select_numbers_base_toggle_on:active, .numbers_frontend_components_select_numbers_base_toggle_on.active {
    color: #ffffff;
    background-color: #3071a9;
    border-color: #285e8e
}
.numbers_frontend_components_select_numbers_base_toggle_off {
	color: #333333;
	background-color: #e6e6e6;
	border-color: #cccccc;
}
.numbers_frontend_components_select_numbers_base_toggle_off:hover, .numbers_frontend_components_select_numbers_base_toggle_off:focus, .numbers_frontend_components_select_numbers_base_toggle_off:active, .numbers_frontend_components_select_numbers_base_toggle_off.active {
	color: #333333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.numbers_frontend_components_select_numbers_base_toggle_middle {
	color: #333333;
	background-color: #fff;
	border-color: #cccccc;
	padding: 6px 6px;
	position: absolute;
	width: 12px !important;
}
.numbers_frontend_components_select_numbers_base_toggle_middle:hover, .numbers_frontend_components_select_numbers_base_toggle_middle:focus, .numbers_frontend_components_select_numbers_base_toggle_middle:active, .numbers_frontend_components_select_numbers_base_toggle_middle.active {
	color: #333333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.numbers_frontend_components_select_numbers_base_on .numbers_frontend_components_select_numbers_base_toggle_off {
	display: none !important;
}
.numbers_frontend_components_select_numbers_base_off .numbers_frontend_components_select_numbers_base_toggle_on {
	display: none !important;
}
.numbers_frontend_components_select_numbers_base_on .numbers_frontend_components_select_numbers_base_toggle_middle {
	left: 0;
	top: 0;
}
.numbers_frontend_components_select_numbers_base_off .numbers_frontend_components_select_numbers_base_toggle_middle {
	right: 0;
	top: 0;
}