/* list */
.numbers_frontend_form_list_table_wrapper_outer {
	overflow-x: scroll;
}
.numbers_frontend_form_list_table_wrapper_inner {
	min-width: 1100px;
	margin: 0 auto;
}
@media screen and (max-width:1200px) {
	.numbers_frontend_form_list_sort {
		display: none;
	}
}
.numbers_frontend_form_list_pagination_navigation {
	text-align: left;
}
@media screen and (min-width:1200px) {
	.numbers_frontend_form_list_pagination_navigation {
		text-align: right;
	}
}
.numbers_frontend_form_list_header_inner td {
	padding-left: 2px;
	padding-right: 2px;
	vertical-align: top;
}
.control-label {
	display: block;
}