/* list */
.numbers_frontend_form_list_table_wrapper_outer {
	overflow-x: scroll;
}
.numbers_frontend_form_list_table_wrapper_inner {
	min-width: 1050px;
	margin: 0 auto;
}
@media screen and (max-width:1200px) {
	.numbers_frontend_form_list_sort {
		display: none;
	}
}
.numbers_frontend_form_list_pagination_navigation {
	text-align: left;
}
@media screen and (min-width:1200px) {
	.numbers_frontend_form_list_pagination_navigation {
		text-align: right;
	}
}
.numbers_frontend_form_list_header_inner td, .numbers_frontend_form_list_header_inner th {
	padding: .75rem !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
	vertical-align: top;
	border-top: none !important;
}
.numbers_frontend_form_list_header_inner tr {
	background: transparent !important;
}
.numbers_frontend_form_list_header_inner:not(:last-child) {
	border-bottom: 1px solid #dee2e6;
}
.numbers_frontend_form_list_header_inner_td {
	border-top: none;
	padding: 0 !important;
}
.numbers_frontend_form_list_text_marks {
	color: red;
}
.numbers_frontend_form_list_pagination_container, .numbers_frontend_form_list_pagination_container .form-control, .numbers_frontend_form_list_pagination_container button {
	font-size: 0.75rem;
}
.control-label {
	display: block;
}
.alert ul {
	padding-bottom: 0;
	margin-bottom: 0;
}
/* form */
.numbers_frontend_form_table_renderer_field_table, .numbers_frontend_form_table_renderer_field_table tr {
	background: transparent !important;
	border: none !important;
	margin: 0;
}
.numbers_frontend_form_table_renderer_field_table td {
	border: none !important;
}
.numbers_frontend_form_html_table_description {
	padding-left: 1em;
}
/* form pannels */
.numbers_frontend_form_table_row_container {
	width: 100%;
}