/* list */
.numbers_frontend_form_list_table_wrapper_outer {
	overflow-x: scroll;
}
.numbers_frontend_form_list_table_wrapper_inner {
	min-width: 1050px;
	margin: 0 auto;
	background-color: white;
	display: block;
}
.numbers_frontend_form_list_table_wrapper_single_line {
	overflow-x: visible !important;
	position: relative;
	display: inline-block;
}
@media screen and (max-width:1200px) {
	.numbers_frontend_form_list_sort {
		display: none;
	}
}
.numbers_frontend_form_list_pagination_navigation {
	text-align: left;
}
@media screen and (min-width:1200px) {
	.numbers_frontend_form_list_pagination_navigation {
		text-align: right;
	}
}
.numbers_frontend_form_list_header_inner td, .numbers_frontend_form_list_header_inner th {
	padding: .75rem !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
	vertical-align: top;
	border-top: none !important;
}
.numbers_frontend_form_list_header_inner tr {
	background: transparent !important;
}
.numbers_frontend_form_list_header_inner:not(:last-child) {
	border-bottom: 1px solid #dee2e6;
}
.numbers_frontend_form_list_header_inner_td {
	border-top: none;
	padding: 0 !important;
}
.numbers_frontend_form_list_text_marks {
	color: red;
}
.numbers_frontend_form_list_pagination_container, .numbers_frontend_form_list_pagination_container .form-control, .numbers_frontend_form_list_pagination_container button {
	font-size: 0.75rem;
}
.control-label {
	display: block;
}
.alert ul {
	padding-bottom: 0;
	margin-bottom: 0;
}

/* form */
table.numbers_frontend_form_table_renderer_field_table {
	table-layout: fixed;
}
.numbers_frontend_form_table_renderer_field_table, .numbers_frontend_form_table_renderer_field_table tr {
	background: transparent !important;
	border: none !important;
	margin: 0;
}
.numbers_frontend_form_table_renderer_field_table td {
	border: none !important;
}
.numbers_frontend_form_html_table_description {
	padding-left: 1em;
}
.numbers_frontend_form_loading_text {
	margin-top: 3em !important;
	color: rgb(235, 79, 79) !important;
	font-weight: bold;
}
.numbers_frontend_red {
	color: lightcoral !important;
}
.numbers_frontend_form_navigation_button {
	padding-left: 0.25em;
	padding-right: 0.25em;
}
.numbers_frontend_segment_link, .numbers_frontend_segment_link:hover {
	color: white;
	text-decoration: underline !important;
}
/* form panels */
.numbers_frontend_form_table_row_container {
	width: 100%;
}
/* form modals */
@media (min-width: 576px) {
    .numbers_frontend_modal_full_width {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .numbers_frontend_modal_full_width {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .numbers_frontend_modal_full_width {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .numbers_frontend_modal_full_width {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .numbers_frontend_modal_full_width {
        max-width: 1320px;
    }
}
.numbers_frontend_modal_full_width {
	width: 100%;
}
/* form grid */
.numbers_frontend_form_class .tab-pane .form-group {
	padding-right: 5px;
	padding-left: 5px;
}
.numbers_frontend_form_class .tab-pane .row {
	margin-right: -5px;
	margin-left: -5px;
}
.numbers_frontend_form_list_comment p {
	margin: 0 !important;
}
.numbers_frontend_form_class .form_actions {
	background-color: var(--bs-light);
}
.numbers_frontend_form_action_links {
	display: inline-block !important;
}

/* widgets */
#form_wg_comments_form_wrapper table.numbers_frontend_form_list_header_inner td.numbers_word_wrap p {
	margin: 0 !important;
	padding: 0 !important;
}

/* modals */
.numbers_frontend_form_modal_level_1 {
	z-index: 1040 !important;
}
.numbers_frontend_form_modal_level_2 {
	z-index: 1050 !important;
}
.numbers_frontend_form_modal_level_3 {
	z-index: 1060 !important;
}
.numbers_frontend_form_modal_level_4 {
	z-index: 1070 !important;
}
.numbers_frontend_form_modal_level_5 {
	z-index: 1080 !important;
}
.modal-backdrop {
    /* display: none; */
}
.modal-dialog {
	border: 2px solid #000000;
	border-radius: 1em;
}

/* animations */
.numbers_frontend_form_link_animation {
    animation-name: numbers_frontend_form_link_animation_settings;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes numbers_frontend_form_link_animation_settings {
    from {
        color: var(--bs-primary);
    }
    to {
        color: var(--bs-danger);
    }
}
.numbers_frontend_form_link_refresh::after {
	content: "\e5d5";
	font-family: "Material Symbols Outlined";
	font-size: 1em;
}

/* anchor fragment */
:target {
	content: '';
	display: block;
	height: 1px;
	position: absolute;
	margin-top: -105px;
}
html {
	scroll-behavior: smooth;
}
