/* list */
.numbers_frontend_form_list_table_wrapper_outer {
	overflow-x: scroll;
}
.numbers_frontend_form_list_table_wrapper_inner {
	min-width: 1050px;
	margin: 0 auto;
}
@media screen and (max-width:1200px) {
	.numbers_frontend_form_list_sort {
		display: none;
	}
}
.numbers_frontend_form_list_pagination_navigation {
	text-align: left;
}
@media screen and (min-width:1200px) {
	.numbers_frontend_form_list_pagination_navigation {
		text-align: right;
	}
}
.numbers_frontend_form_list_header_inner td, .numbers_frontend_form_list_header_inner th {
	padding: .75rem !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
	vertical-align: top;
}
.numbers_frontend_form_list_header_inner tr {
	background: transparent !important;
}
.numbers_frontend_form_list_header_inner_td {
	border-top: none;
	border-bottom: 1px solid #dee2e6;
	padding: 0 !important;
}
.control-label {
	display: block;
}