.material-symbols-outlined {
    vertical-align: middle !important;
}
.material-symbols-outlined.light {
    font-variation-settings: 'wght' 100;
}
.material-symbols-outlined.regular {
    font-variation-settings: 'OPSZ' 1em;
}
.material-symbols-outlined.bold {
    font-variation-settings: 'wght' 700;
}
.material-symbols-outlined.fill, .material-symbols-outlined.animated_fill {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}
.material-symbols-outlined.dark {
    background: black;
    color: rgba(255, 255, 255, 1);
    font-variation-settings: 'GRAD' -25;
}
.material-symbols-outlined.inactive {
  background: black;
  color: rgba(255, 255, 255, 0.3);
  font-variation-settings: 'GRAD' -25;
}
.material-symbols-outlined.animated {
    animation: material-symbols-outlined-animated 3s infinite;
}
@keyframes material-symbols-outlined-animated {
    0% {
        font-variation-settings: 'wght' 100;
    }
    50% {
        font-variation-settings: 'wght' 700;
    }
    100% {
        font-variation-settings: 'wght' 100;
    }
}