.list_filter_full_text_search {
	display: inline-block !important;
}
.list_filter_name, .list_filter_value {
	vertical-align: middle !important;
}

@media screen and (max-width:1200px) {
	.list_pagination_sort {
		display: none;
	}
}

.list_pagination_navigation {
	text-align: left;
}
@media screen and (min-width:1200px) {
	.list_pagination_navigation {
		text-align: right;
	}
}