.numbers_autocomplete {
	
}
.numbers_autocomplete_div {
	padding: 6px;
	background: #fff;
	font-size: 1em;
	vertical-align: top;
	border: 1px solid #d3d3d3;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
	outline: none !important;
	max-height: 600px;
	overflow-y: scroll;
	position: absolute;
	z-index: 500;
	width: 100%;
}
.numbers_autocomplete_prevent_selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.numbers_autocomplete_option_table {
	width: 100%;
}
.numbers_autocomplete_icon, .numbers_autocomplete_option_table tr, .numbers_autocomplete_option_multiple_item_close {
	cursor: pointer;
	cursor: hand;
}
tr.numbers_autocomplete_option_table_tr_hover:hover {
	background-color: #fafafa;
}
.numbers_autocomplete_option_table_td {
	height: 2.5em;
	vertical-align: middle;
	padding-left: 3px;
}
.numbers_autocomplete_multiple_item {
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	padding-top : 1px;
	padding-bottom: 1px;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 2px;
	display: inline-block;
}